.category {
    padding-top: 10px;
}

.category__head {
    margin-bottom: 20px;
    border-bottom: 1px solid #E60000;
}

.category__filters {
    align-items: flex-end;
}

.category__filter {
    background-color: transparent;
    border: 1px solid #333;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    padding: 5px 10px;
    margin-right: 10px;
    position: relative;
    transition: 0.2s;
    font-size: 14px;
    text-transform: uppercase;
}

.category__filter:after {
    background-color: #2aabd2;
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    left: -1px;
    right: -1px;
    opacity: 0;
    transition: 0.2s;
}

.category__filter:not(.category__filter_current):hover {
    background-color: #fff;
    color: #2aabd2;
    border-color: #2aabd2;
}

.category__filter:not(.category__filter_current):hover:after {
    opacity: 1;
}

.category__filter_current {
    background-color: #fff;
    padding: 7px 10px;
    color: #E60000;
    border-color: #E60000;
}

.category__filter:last-child {
    margin-right: 0;
}


.category__title {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    text-shadow: -2px 2px 1px #aaa;
}

.category__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category__item {
    background-color: rgba( 230, 230, 230, 0.85 );
    width: calc(33% - 20px);
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}

.category__item:nth-child(3n) {
    margin-right: 0;
}

.category__item-link {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

.category__item-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.category__item-img img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.category__item-details {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    color: transparent;
    position: absolute;
    left: 0;
    bottom: 100%;
    opacity: 0;
    padding: 15px;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}

.category__item:hover .category__item-details {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    opacity: 1;
}