.category {
    padding-top: 20px;
}

.category__head {
    background-color: rgba( 230, 230, 230, 0.85 );
    margin: 0 -20px 20px;
    padding: 8px 20px;
}

.category__filters {
    min-height: 34px;
    align-items: flex-end;
}

.category__filter {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
    position: relative;
    transition: 0.2s;
    font-size: 14px;
    text-transform: uppercase;
}

.category__filter:not(.category__filter_current):hover {
    background-color: #fff;
    border-color: #2aabd2;
}

.category__filter:not(.category__filter_current):hover:after {
    opacity: 1;
}

.category__filter_current {
    background-color: #fff;
    padding: 7px 10px;
    color: #E60000;
    border-color: #E60000;
}

.category__filter:last-child {
    margin-right: 0;
}


.category__title {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    text-shadow: -2px 2px 1px #aaa;
}

.category__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category__item {
    background-color: #fff;
    width: calc(33% - 20px);
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.category__item:nth-child(3n) {
    margin-right: 0;
}

.category__item-link {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

.category__item-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.category__item-img img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}a

.category__item-details {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 15px;
    font-size: 13px;
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}

.category__item:hover {
    border-color: rgba(0, 0, 0, 0.7);
}
.category__item:hover .category__item-details {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    font-size: 15px;
}

.category__item-price {
    margin-right: 5px;
}

.category__item-currency {
    margin-left: 1px;
}