
html {
    min-height: 100%;
    height: 100%;
}

body {
    height: 1px;
    min-height: 100%;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}

header, main, section, footer, menu, aside {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a, img, input {
    border: none;
    outline: none !important;
}

ul {
    list-style: none;
}

/* clearfx */
.clearfix {
    clear: both;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* placeholder */
*::-webkit-input-placeholder {
    opacity: 1 !important;
}

*:-moz-placeholder {
    opacity: 1 !important;
}

*::-moz-placeholder {
    opacity: 1 !important;
}

*:-ms-input-placeholder {
    opacity: 1 !important;
}

._row {
    display: flex;
    flex-direction: row;
}

._col {
    display: flex;
    flex-direction: column;
}

._to_right {
    margin-left: auto;
}

._to_bottom {
    margin-top: auto;
}

/* button */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    outline: none !important;
}

body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

.wrap-site {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 0;
}

.wrap-site:before {
    background-color: #fff;
    background-image: url("../../img/main-bg.jpg");
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.55;
    z-index: -1;
}

.container {
    width: 1020px;
    margin: 0 auto 40px;
    padding: 0 20px;
}

.main {
    box-sizing: border-box;
    background: rgba(255,255,255, 0.45);
    color: #333;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-bottom: 40px;
}

.block {
    display: flex;
    align-items: center;
}

.info-block {
    width: 60%;
    box-sizing: border-box;
    background: rgba(255,255,255, 0.45);
    color: #333;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 30px 20px;
    position: relative;
    margin: 40px auto;
    text-align: center;
}

.price_list {
    justify-content: space-around;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2;
}

.info__name {
    padding-bottom: 5px;
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 5px;
}

.info__name,
.info__value {
    text-align: left;
    font-weight: bold;
}